Flask~=3.0.3
spacy~=3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
werkzeug~=3.0.3
sqlalchemy~=2.0.30

pyodbc~=5.1.0
alembic~=1.13.1