{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="content-section">
            <h1>Welcome to ResuMate</h1>
            <p>Welcome to ResuMate, your go-to AI-powered resume analyzer and builder! In today's competitive job market,
                having a well-crafted resume is crucial for making a solid first impression and advancing your career.
                ResuMate helps you create professional resumes that stand out to human recruiters and pass through
                Applicant Tracking Systems (ATS).</p>
            <p>Your resume or CV is often the first point of contact with potential employers. It provides a concise
                overview of your skills, experience, and qualifications, serving as a platform to make a solid initial
                impact. Your resume can effectively showcase your relevant skills, work experience, and achievements,
                helping employers recognize your fit for the job.</p>
            <p>In the modern hiring process, many companies utilize Applicant Tracking Systems (ATS) to screen resumes
                before they reach human recruiters. Therefore, creating an ATS-friendly resume is paramount.
                This involves using standard headings such as "Work Experience," "Education," and "Skills" to help ATS
                identify and evaluate different sections. Furthermore, tailoring your resume by incorporating relevant
                keywords from the job description, utilizing a clean and straightforward layout with standard fonts,
                and saving the document as a PDF or Word file all enhance its ATS compatibility.</p>
            <p>To ensure that ATS systems can efficiently process your resume, it is important to maintain a consistent
                structure throughout your document. This includes using the same date format, aligning text correctly,
                and ensuring uniform font sizes. In addition, it is advisable to avoid utilizing images, graphics,
                or charts as these elements can confuse ATS systems and cause essential information to be overlooked.</p>
            <p>By leveraging ResuMate's capabilities, you can be confident that your resume is well-optimized for both
                automated systems and human reviewers, setting the stage for your career success. Welcome to ResuMate,
                where your journey to professional advancement begins!</p>
        </div>
    </div>
{% endblock %}
